<div class="card-body">
    <form>
        <div class="form-group col-sm-3">
            <!--<input 
            id="loginEmail" 
            class="form-control form-input" 
            type="text" 
            placeholder="email"
            [(ngModel)]="loginEmail"
            >
            -->
        </div>
        <div class="form-group col-sm-3">
            <!-- <input 
            id="loginPassword" 
            class="form-control form-input" 
            type="password" 
            placeholder="password" 
            [(ngModel)]="loginPassword"
            > -->
        </div>
        <button class="btn btn-basic" type="submit">Login</button>
    </form>
</div>