<div class="card text-white bg-dark mb-3">

    <div class="card-header">
      <div class="breadscrums">
          <a [routerLink]="['../home']">olejnik.tech</a>
          &nbsp; > &nbsp; 
          business-card
        </div>
    </div>
    
      <div class="card-body">

        <h5 class="card-title">Business Card</h5>
        <div class="card-body" style="text-align: center;">
                <img style="max-height: 25em;" src='../assets/business-card.png'>
        </div>
    </div>
  </div>