<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">olejnik.tech</a>
  
  <button 
  class="navbar-toggler" 
  type="button" 
  data-bs-toggle="collapse" 
  data-bs-target="#navbarApp" 
  aria-controls="navbarApp" 
  aria-expanded="false" 
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarApp">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item active" [routerLinkActive]="['active']">
        <a class="nav-link nav-link-custom" [routerLink]="['home']">Home</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link nav-link-custom" [routerLink]="['portfolio']">Portfolio</a>
      </li>

      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link nav-link-custom" [routerLink]="['business-card']">Business Card</a>
      </li>
      
    </ul>

  <ul class="navbar-nav" style="padding-right: 2em;">
    <li class="nav-item" [routerLinkActive]="['active']">
      <a class="nav-link disabled" [routerLink]="['login']">Login</a>
    </li>
  </ul>

  </div>
</nav>

<div class="container">

  <div class="card bg-dark">
    <div class="card-header" style="max-height: 38px;">
      <breadcrumb #parent>
        <ol class="breadcrumb">
          <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">

            <li>
              <a href="" [routerLink]="['home']"> olejnik.tech&emsp;/&emsp;</a>
            </li>

            <li *ngIf="!route.terminal" vlass="breadcrumb-item">
              <a href="" [routerLink]="route.url">{{ route.displayName }}</a>
            </li>
            
            <li *ngIf="route.terminal" class="breadcrumb-item active">{{ route.displayName }}</li>

          </ng-template>
        </ol>
      </breadcrumb>
    </div>

    <router-outlet></router-outlet>

  </div>
</div>