.dot-online{
    height: 20px;
    width: 20px;
    background-color: greenyellow;
    border-radius: 50%;
    display: inline-block;
}

.dot-offline{
    height: 20px;
    width: 20px;
    background-color: darkred;
    border-radius: 50%;
    display: inline-block;
}

.card-footer{
    text-align: center;
}