/* My Bootstrap overrides

=== Pallete 1 ===
https://www.csscolorpalettes.com/palettes/633

darkest: #222831
darker: #3f3f41
dark: #393e46
orange: #f96d00
light-orange: #f96d00
white: #f2f2f2
*/

body {
    background-color: #393e46 !important;
    color: #f2f2f2 !important;
}

.container {
    padding-top: 2em !important;
}


/* nav-bar */

.navbar-brand {
    color:#f96d00 !important;
    padding-left: 2em !important;
    text-shadow: 3px 2px 2px black;
}

.nav-link {
    color:#ffa058 !important;
}

.nav-link:hover {
    color:#ffa058 !important;
}

/* Cards */

.card {
    width: auto !important;
    max-width: auto !important;
}

.card-header {
    color:#f2f2f2 !important;
    text-shadow: 3px 2px 2px black;
}

.card-body {
    background: #353537 !important;
    color: #f96d00 !important;
    text-shadow: 3px 2px 2px black;
}

/* icons */
.social-icon {
    background-color: red;
}
.social-icon:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}