/* My Bootstrap overrides */

body {
    background-color: #393e46 !important;
    color: #f2f2f2 !important;
}

.container {
    padding-top: 2em !important;
}


/* nav-bar */

.navbar-brand {
    color:#f96d00 !important;
    padding-left: 2em !important;
    text-shadow: 3px 2px 2px black;
}

.nav-link {
    color:#ffa058 !important;
}

.nav-link:hover {
    color:#ffa058 !important;
}

/* cards */

.card {
    width: auto !important;
    max-width: auto !important;
}

/* links under cards - "breadscrums" */
.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb a:active {
    text-decoration: none;
    color: #d65d00;
}

.breadscrums {
    font-size: 12px;
    color: #f96d00 !important;
}

.card-header {
    color:#f2f2f2 !important;
    text-shadow: 1px 1px 2px black;
}

.card-title {
    color: #f2f2f2;
    text-shadow: 1px 1px 2px black;
}

.card-body {
    background: #565b63 !important;
    color: black !important;
}

/* icons */

.icon{
    max-height: 4em;
}